[submodule "backend"]
	path = backend
	url = https://github.com/sylvaindethier/social-app_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sylvaindethier/social-app_frontend.git
